body {
    max-width: $width-page;
    margin: ($padding-base * 2) auto;
}

::-moz-selection {
    background: rgba($color-brand, 0.1); 
}

::selection { 
    background: rgba($color-brand, 0.1); 
}

@media screen and ($media-md) {
    body {
        margin: 0 auto ($padding-base * 2) auto;
    }
}